/*
 * 3D Space and Card Flip Set-Up
 * Basic set-up based on code from following: 
 * https://desandro.github.io/3dtransforms/docs/card-flip.html
 *
 */

body {
 background: #AAAAAA;
}

.threeD {
  width: 200px; 
  height: 260px; 
  position: relative; 
  perspective: 800px;
}

.threeDWrapper {
  width: 100%; 
  height: 100%; 
  position: absolute;
  transform-style: preserve-3d; 
  transition: transform 1s; 
}

.card figure {
  margin: 0; 
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#front {
  background: white;
  color: black;
  border-radius: 2px;
}

#back {
  background: black;
  color: white;
  border-radius: 2px;
  transform: rotateY( 180deg );
}

.flipped {
  transform: rotateY( 180deg ); 
}
